/* CSS-document */
body {
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Verdana, Arial, sans-serif;
}

#container {
	max-width: 760px;
	margin: 0 auto;
}

#clear-completed-button {
	float:right;
	display:inline-block;
}

#todo-list { /* ul */
	list-style: none;
}
#todo-list li { /* ul */
	margin-left: -30px;
	font-size: larger;
}

#add-task-text {
}

button {
	height: 20px;
}

input[type="text"] {
	width: 400px;
}